body {
	background-image: url('../images/banner.jpg');
	background-size: cover;
}
.main {
	padding: 20px;
    background-color: white;
}
.placeholder {
	height: 40px;
}
.formback {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 7;
}
#loginform, #signinform {
    position: absolute;
    background: white;
    width: 30%;
    margin-left: 35%;
    margin-top: 40px;
    color: rgb(127, 127, 127);
    padding: 20px;
    padding-top: 50px;
}
.banner {
	color: white;
	text-align: center;
	font-size: 8rem;
}

.clear {
  clear: both;
}